<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "MaximusBoys BotList - Hata";
document.title = title;
</script>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#333">Her bota günde sadece bir kez oy verebilirsin!</h3>
    </div>
</div>
</div></div></div>
<% include ./ek/footer %>