<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "MaximusBoys BotList - Token Al";
document.title = title;
</script>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <label>Tokeniniz</label>
      <input type="text" value="token" disabled>
    </div>
</div>
</div></div></div>
<% include ./ek/footer %>

